absl-py==0.11.0
apturl==0.5.2
arch==4.15
arviz==0.10.0
astunparse==1.6.3
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
bcrypt==3.1.7
blinker==1.4
Brlapi==0.7.0
cachetools==4.2.0
certifi==2020.4.5.1
cftime==1.3.0
chardet==3.0.4
cheat==2.5.1
cliapp==1.20180812.1
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
command-not-found==0.3
constantly==15.1.0
cryptography==3.0
cupshelpers==1.0
cvxopt==1.2.5
cvxpy==1.1.7
cycler==0.10.0
Cython==0.29.21
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.5.0
distro-info===0.23ubuntu1
dm-tree==0.1.5
docopt==0.6.2
duplicity==0.8.12.0
ecos==2.0.7.post1
eg==1.2.0
enum34==1.1.10
fancycompleter==0.9.1
fasteners==0.14.1
fastprogress==1.0.0
flake8==3.8.4
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gvar==11.8
gyp==0.1
h5py==2.10.0
httplib2==0.18.1
hyperlink==20.0.1
i3ipc==2.2.1
idna==2.10
incremental==17.5.0
investpy==1.0
jeepney==0.4.3
joblib==0.17.0
julia==0.5.6
Keras-Preprocessing==1.1.2
keyring==21.3.0
kiteconnect==3.9.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lockfile==0.12.2
louis==3.14.0
lxml==4.6.1
macaroonbakery==1.3.1
Mako==1.1.2
Markdown==3.2.2
markdown-checklist==0.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mle==0.0.5
monotonic==1.5
netCDF4==1.5.4
netifaces==0.10.4
nolds==0.5.2
numdifftools==0.9.39
numpy==1.19.4
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
osqp==0.6.1
packaging==20.4
pandas==1.1.4
paramiko==2.7.1
patsy==0.5.1
pdbpp==0.10.2
pexpect==4.6.0
Pillow==7.2.0
powerline-gitstatus==1.3.1
powerline-shell==0.7.0
powerline-status @ git+git://github.com/powerline/powerline@f401ee3106b027efabdbbd7b920868cefd8277c4
property-cached==1.6.4
protobuf==3.12.3
psutil==5.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.6.0
pycups==2.0.1
pyflakes==2.2.0
pyflux @ git+https://github.com/RJT1990/pyflux@297f2afc2095acd97c12e827dd500e8ea5da0c0f
Pygments==2.7.2
PyGObject==3.38.0
PyHamcrest==2.0.2
PyJWT==1.7.1
pymacaroons==0.13.0
pymc3==3.9.3
PyNaCl==1.4.0
pyOpenSSL==20.0.0
pyparsing==2.4.7
pyrepl==0.9.0
pyRFC3339==1.1
python-apt==2.1.3+ubuntu1.2
python-dateutil==2.8.1
python-debian==0.1.37
python-dotenv==0.15.0
python-xlib==0.28
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
ranger-fm==1.9.3
reportlab==3.5.47
requests==2.23.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
scs==2.1.2
seaborn==0.11.0
SecretStorage==3.1.2
selenium==3.141.0
service-identity==18.1.0
simplejson==3.17.0
six==1.15.0
statsmodels==0.12.1
systemd-python==234
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.0
termcolor==1.1.0
Theano==1.0.5
threadpoolctl==2.1.0
ttystatus==0.38
Twisted==20.3.0
txaio==20.4.1
typing-extensions==3.7.4.3
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.1.1
urllib3==1.25.9
usb-creator==0.3.7
vboxapi==1.0
vegas==3.5.3
wadllib==1.3.4
Werkzeug==1.0.1
wmctrl==0.3
wrapt==1.12.1
xarray==0.16.1
xkit==0.0.0
zope.interface==5.2.0
